<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ANASTASIYABRAH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ANASTASIYABRAH.Properties.Settings>
			<setting name="IP" serializeAs="String">
				<value>194.87.237.67</value>
			</setting>
			<setting name="Topic" serializeAs="String">
				<value>/test/tema</value>
			</setting>
			<setting name="Topic1" serializeAs="String">
				<value>/test/tema</value>
			</setting>
			<setting name="Topic4" serializeAs="String">
				<value>/test/tema</value>
			</setting>
			<setting name="Topic5" serializeAs="String">
				<value>/test/tema</value>
			</setting>
			<setting name="Topic6" serializeAs="String">
				<value>/test/tema</value>
			</setting>
			<setting name="Topic7" serializeAs="String">
				<value>/test/tema</value>
			</setting>
			<setting name="Topic8" serializeAs="String">
				<value>/test/tem</value>
			</setting>
			<setting name="Topic9" serializeAs="String">
				<value>/test/tema</value>
			</setting>
			<setting name="Topic10" serializeAs="String">
				<value>/test/tem</value>
			</setting>
			<setting name="Topic11" serializeAs="String">
				<value>/test/tema</value>
			</setting>
			<setting name="Topic12" serializeAs="String">
				<value>/test/tema</value>
			</setting>
			<setting name="Topic13" serializeAs="String">
				<value>/test/tema</value>
			</setting>
			<setting name="Topic14" serializeAs="String">
				<value>/test/tem</value>
			</setting>
			<setting name="Topic15" serializeAs="String">
				<value>/test/tema</value>
			</setting>
			<setting name="Topic16" serializeAs="String">
				<value>/test/tem</value>
			</setting>
			<setting name="Topic17" serializeAs="String">
				<value>/test/tema</value>
			</setting>
			<setting name="Offline1" serializeAs="String">
				<value>  23.03.2022 14:40:38</value>
			</setting>
			<setting name="Offline2" serializeAs="String">
				<value>  23.03.2022 14:40:38</value>
			</setting>
			<setting name="Offline3" serializeAs="String">
				<value>  23.03.2022 14:40:38</value>
			</setting>
			<setting name="Offline4" serializeAs="String">
				<value>  23.03.2022 14:40:38</value>
			</setting>
        </ANASTASIYABRAH.Properties.Settings>
    </userSettings>
</configuration>